# Pandas 1
출처 : https://www.kaggle.com/residentmario/creating-reading-and-writing

In [4]:
import pandas as pd

## Creating data

Pandas에는 두개의 core data type이 존재한다.
- DataFrame
- Series

### DataFrame
- dataframe 은 table이다. 
- 아래의 예제에서, "0,No" entry는 131 의 value를 가지고 있다

In [2]:
pd.DataFrame({'Yes' : [50,21], 'No' : [131,2]})

   Yes   No
0   50  131
1   21    2

- dataframe 에는 integer뿐만 아니라, string도 포함 가능하다.
- 또한 0,1 로 각 row 마다 label이 지정되는데, 이것을 <b>index</b>라고 부른다
- index는 index = [] 를 통해 지정가능하다

In [3]:
pd.DataFrame({'Bob' : ['I like it','It was awful'], 'Sue' : [
    'Pretty good','Bland']},
             index = ['Product A', 'Product B'])

                    Bob          Sue
Product A     I like it  Pretty good
Product B  It was awful        Bland

### Series
- Series type은 data value 의 나열이다. 
- Dataframe을 table이라고 한다면, series는 list이다.

In [9]:
pd.Series([1,2,3,4,5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

- Series는 본질적으로는 DataFrame의 Single Column이다. 
- 그래서 Series 에도 oindex를 지정 가능하다. 
- 그러나 Bob 과 Sue같은 column name이 아니라 그냥<b>name</b>이 있다.

In [13]:
pd.Series([30,35,49],index = ['2015 Sales', '2016 Sales', '2017 Sales'],
         name = 'Product A')

2015 Sales    30
2016 Sales    35
2017 Sales    49
Name: Product A, dtype: int64

### 파일 읽어서 사용해보기
 - index_col = 0 option : index colum이 있음을 명시

In [6]:
iris = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv')
iris

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [7]:
iris.shape

(150, 5)

In [8]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

### csv파일에 저장하기

In [22]:
iris.to_csv("iris.csv")

## 연습해보기
https://www.kaggle.com/residentmario/creating-reading-and-writing