# Summary, Functions and Maps
https://www.kaggle.com/residentmario/summary-functions-and-maps

In [1]:
import pandas as pd
iris = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv')
iris

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

### Summary functions

In [2]:
iris.sepal_length.describe()

count    150.000000
mean       5.843333
std        0.828066
min        4.300000
25%        5.100000
50%        5.800000
75%        6.400000
max        7.900000
Name: sepal_length, dtype: float64

In [4]:
iris.sepal_length.mean()

5.843333333333335

In [6]:
#iris.species.unique()
iris.species.value_counts()

setosa        50
virginica     50
versicolor    50
Name: species, dtype: int64

### Maps
- 함수를 적용해서 새로운 data만들기
- R 에서의 apply계열과 비슷

In [7]:
sepal_length_mean = iris.sepal_length.mean()

iris.sepal_length.map(lambda p: p - sepal_length_mean)

0     -0.743333
1     -0.943333
2     -1.143333
3     -1.243333
4     -0.843333
         ...
145    0.856667
146    0.456667
147    0.656667
148    0.356667
149    0.056667
Name: sepal_length, Length: 150, dtype: float64

In [9]:
iris2 = iris
def diff(row):
    row.sepal_length = row.sepal_length - sepal_length_mean
    return row

iris2.apply(diff, axis='columns')

     sepal_length  sepal_width  petal_length  petal_width    species
0       -0.743333          3.5           1.4          0.2     setosa
1       -0.943333          3.0           1.4          0.2     setosa
2       -1.143333          3.2           1.3          0.2     setosa
3       -1.243333          3.1           1.5          0.2     setosa
4       -0.843333          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145      0.856667          3.0           5.2          2.3  virginica
146      0.456667          2.5           5.0          1.9  virginica
147      0.656667          3.0           5.2          2.0  virginica
148      0.356667          3.4           5.4          2.3  virginica
149      0.056667          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

- 기본 내장되어있는 기능은 그냥 쓸 수 있다.

In [15]:
iris.sepal_width - iris.sepal_length

0     -1.6
1     -1.9
2     -1.5
3     -1.5
4     -1.4
      ...
145   -3.7
146   -3.8
147   -3.5
148   -2.8
149   -2.9
Length: 150, dtype: float64

### Practice
https://www.kaggle.com/residentmario/summary-functions-and-maps