# 5. Data type, Replace
https://www.kaggle.com/residentmario/data-types-and-missing-values

### Dtype 
- DataFrame 또는 Series의 data type을 dtype이라고 한다.

In [1]:
import pandas as pd
iris = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv')
iris

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [2]:
iris.sepal_length.dtype

dtype('float64')

- dtypes를 사용하면 한번에 여러개를 볼 수 있다.

In [4]:
iris.dtypes

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species          object
dtype: object

### Type 변경하기
- astype()으로 가능하다

In [5]:
iris2 = iris
iris2.sepal_length.astype('int64')

0      5
1      4
2      4
3      4
4      5
      ..
145    6
146    6
147    6
148    6
149    5
Name: sepal_length, Length: 150, dtype: int64

### Missing data
- 데이터에 NaN(Not a Number) 가 들어있을 수 있다.
- 기술적인 이유로 NaN의 데이터 타입은 float64이다.

In [6]:
# Missing이 있는 toy데이터 제작
toy = pd.DataFrame(
{
    "A":[10,20,float("nan")],
    "B" :[40,50,60],
})

toy

      A   B
0  10.0  40
1  20.0  50
2   NaN  60

- insull()함수로 NaN을 찾을 수 있다.

In [7]:
toy[pd.isnull(toy.A)]

    A   B
2 NaN  60

- fillna()로 Missing value를 대체할 수 있다.

In [8]:
toy.A.fillna("Unknown")

0         10
1         20
2    Unknown
Name: A, dtype: object

### replace
- .replace()함수로 일반 값도 대체가 가능하다

In [9]:
toy.A.replace(10,100)

0    100.0
1     20.0
2      NaN
Name: A, dtype: float64

### Practice
https://www.kaggle.com/residentmario/data-types-and-missing-values