# Grouping and sorting

In [7]:
import pandas as pd
iris = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv')
iris

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

### Gropuwize anylisys

In [15]:
#iris.groupby('species')
#iris.groupby('species').species.count()
#iris.groupby('species').sepal_length.min()
iris.groupby('species').apply(lambda df: df.loc[0].sepal_length + df.loc[0].petal_width)

species
setosa        5.3
versicolor    8.4
virginica     8.8
dtype: float64

In [ ]:
# 실행되지 않는 예시지만 이런것도 가능
#reviews.groupby(['country', 'province']).apply(lambda df: df.loc[df.points.idxmax()])

In [18]:
iris.groupby(['species']).sepal_length.agg([len, min, max])

             len  min  max
species
setosa      50.0  4.3  5.8
versicolor  50.0  4.9  7.0
virginica   50.0  4.9  7.9

### Multi indexes
- groupby() 연산을 하면 multi index 도 나올 수 있다.

In [6]:
multi = iris.groupby(['species', 'petal_width']).sepal_length.agg([len])
multi

                         len
species    petal_width
setosa     0.1           5.0
           0.2          29.0
           0.3           7.0
           0.4           7.0
           0.5           1.0
           0.6           1.0
versicolor 1.0           7.0
           1.1           3.0
           1.2           5.0
           1.3          13.0
           1.4           7.0
           1.5          10.0
           1.6           3.0
           1.7           1.0
           1.8           1.0
virginica  1.4           1.0
           1.5           2.0
           1.6           1.0
           1.7           1.0
           1.8          11.0
           1.9           5.0
           2.0           6.0
           2.1           6.0
           2.2           3.0
           2.3           8.0
           2.4           3.0
           2.5           3.0

In [20]:
# reset_index()로 정리할 수 있다
multi = multi.reset_index()
multi

       species  petal_width   len
0       setosa          0.1   5.0
1       setosa          0.2  29.0
2       setosa          0.3   7.0
3       setosa          0.4   7.0
4       setosa          0.5   1.0
5       setosa          0.6   1.0
6   versicolor          1.0   7.0
7   versicolor          1.1   3.0
8   versicolor          1.2   5.0
9   versicolor          1.3  13.0
10  versicolor          1.4   7.0
11  versicolor          1.5  10.0
12  versicolor          1.6   3.0
13  versicolor          1.7   1.0
14  versicolor          1.8   1.0
15   virginica          1.4   1.0
16   virginica          1.5   2.0
17   virginica          1.6   1.0
18   virginica          1.7   1.0
19   virginica          1.8  11.0
20   virginica          1.9   5.0
21   virginica          2.0   6.0
22   virginica          2.1   6.0
23   virginica          2.2   3.0
24   virginica          2.3   8.0
25   virginica          2.4   3.0
26   virginica          2.5   3.0

### Sorting
- 값으로 sorting ( + 역순)
- index로 sorting
- 복수의 기준으로

In [21]:
#multi.sort_values(by='len')
mixed_index = multi.sort_values(by='len', ascending = False)

In [22]:
# sorting by index
mixed_index.sort_index()

       species  petal_width   len
0       setosa          0.1   5.0
1       setosa          0.2  29.0
2       setosa          0.3   7.0
3       setosa          0.4   7.0
4       setosa          0.5   1.0
5       setosa          0.6   1.0
6   versicolor          1.0   7.0
7   versicolor          1.1   3.0
8   versicolor          1.2   5.0
9   versicolor          1.3  13.0
10  versicolor          1.4   7.0
11  versicolor          1.5  10.0
12  versicolor          1.6   3.0
13  versicolor          1.7   1.0
14  versicolor          1.8   1.0
15   virginica          1.4   1.0
16   virginica          1.5   2.0
17   virginica          1.6   1.0
18   virginica          1.7   1.0
19   virginica          1.8  11.0
20   virginica          1.9   5.0
21   virginica          2.0   6.0
22   virginica          2.1   6.0
23   virginica          2.2   3.0
24   virginica          2.3   8.0
25   virginica          2.4   3.0
26   virginica          2.5   3.0

In [23]:
# sort by more than one column
multi.sort_values(by=['petal_width', 'len'])

       species  petal_width   len
0       setosa          0.1   5.0
1       setosa          0.2  29.0
2       setosa          0.3   7.0
3       setosa          0.4   7.0
4       setosa          0.5   1.0
5       setosa          0.6   1.0
6   versicolor          1.0   7.0
7   versicolor          1.1   3.0
8   versicolor          1.2   5.0
9   versicolor          1.3  13.0
15   virginica          1.4   1.0
10  versicolor          1.4   7.0
16   virginica          1.5   2.0
11  versicolor          1.5  10.0
17   virginica          1.6   1.0
12  versicolor          1.6   3.0
13  versicolor          1.7   1.0
18   virginica          1.7   1.0
14  versicolor          1.8   1.0
19   virginica          1.8  11.0
20   virginica          1.9   5.0
21   virginica          2.0   6.0
22   virginica          2.1   6.0
23   virginica          2.2   3.0
24   virginica          2.3   8.0
25   virginica          2.4   3.0
26   virginica          2.5   3.0

### Practice
https://www.kaggle.com/residentmario/grouping-and-sorting